:root {
  --chakra-fonts-mono: 'Geist Mono Variable', monospace !important;
}

body,
#root {
  height: 100vh;
  font-family: 'Geist Variable', sans-serif !important;
  /* font-family: Inter, sans-serif !important; */
}
